*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
.container{
    width: 30%;
    height: 50vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    margin: auto;
    margin-top: 10%;
    border-radius: 25px;
}
h1{
    color: black;
    margin: 20px;
}